@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
.project h3 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Italianno", cursive;
  text-align: center;
}

.project h6 {
  font-size: 30px;
  font-weight: 500;
  font-family: "Italianno", cursive;
  text-align: center;
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details{
    align-items: center;
    max-width: 400px;
}
.indetails{
  display: flex;
  align-items: center;
  max-width: 380px;
  gap: 20px;
}
.display {
  width: 400px;
  transition: transform 0.3s ease;
}
.display img{
  width: 180px;
}
.display iframe{
  position: absolute;
  padding-left: -160px;
}
.display:hover {
    transform: scale(1.6);
  }
.info h4{
    font-size: 26px;
    font-weight: 700;
}
.links{
    display: flex;
    gap: 15px;
    font-size: 20px;
    cursor: pointer;
}
.info p{
    font-size: 12px;
}
.techstack{
  padding-top:16px;
}
.tech{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin: 0;
    padding: 0;
}
.tech li{
    color: #1a1919;
    border: 1px solid #1a1919;
    padding: 2px 5px;
    border-radius: 20px;
    font-size: 10px;
    text-decoration: none;
    font-weight: 500;
}

@media (max-width: 480px) {
  .project h3 {
    font-size: 30px;
  }
  .project h6 {
    font-size: 17px;
  }
}