@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
.about{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  background-color: transparent;
  z-index: 1000;
  padding: 4% 3%;
}
.left{
    position: relative;
}
.left img{
    width: 500px;
}
.right{
    width: 600px;
}
.right h4{
    font-size: 40px;
    font-weight: 600;
    font-family: "Italianno", cursive;
    color: #2d2c2c;
}
.right p{
    padding-left: 16px;
    font-size: 19px;
}

@media (max-width: 480px) {
    .about{
        width: 100%;
        display: flex;
        gap: 80px;
        padding: 4% 3%;
        margin-top: 8%;
    }
    .left img{
        width: 280px;
    }
    .right {
        width: 100%;
        margin-top: -60px;
    }
    .right h4{
        font-size: 30px;
    }
    .right p{
        font-size: 13px;
    }
    
}  